@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Open Sauce One", system-ui, Avenir, Helvetica, Arial,
        sans-serif;
    line-height: 1.625;
    font-size: 1.3rem;
}
